/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/tech-stack/TechStack.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TechStack_container__stPYw {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(29 27 32 / var(--tw-bg-opacity));
  padding: 3.5rem;
}
.TechStack_container__stPYw .TechStack_item__sMVQ5 {
  display: flex;
  aspect-ratio: 1 / 1;
  height: -moz-max-content;
  height: max-content;
  width: -moz-fit-content;
  width: fit-content;
}
@keyframes TechStack_bounce__rERBF {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.TechStack_container__stPYw .TechStack_item__sMVQ5 {
  animation: TechStack_bounce__rERBF 1s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-items: center;
  border-radius: 9999px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(73 69 79 / var(--tw-border-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@keyframes TechStack_pulse__mPXJt {
  50% {
    opacity: .5;
  }
}
.TechStack_container__stPYw .TechStack_item__sMVQ5:hover {
  animation: TechStack_pulse__mPXJt 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --tw-bg-opacity: 1;
  background-color: rgb(73 69 79 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity));
}

@keyframes TechStack_bounce__rERBF {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
  }
  20% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    pointer-events: none;
  }
  40% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
  }
  60% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    pointer-events: none;
  }
  80% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
  }
  90% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    pointer-events: none;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    pointer-events: auto;
  }
}
