.container {
	@apply p-14 rounded-2xl flex flex-wrap-reverse justify-center gap-2 bg-dark;

	.item {
		@apply rounded-full border-2 border-gray text-white px-6 aspect-square w-fit flex h-max-content
		items-center select-none hover:animate-pulse transition-all hover:text-white hover:bg-gray animate-bounce;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		pointer-events: none;
	}
	20% {
		transform: translateY(-50%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		pointer-events: none;
	}
	40% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		pointer-events: none;
	}
	60% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		pointer-events: none;
	}
	80% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		pointer-events: none;
	}
	90% {
		transform: translateY(-5%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		pointer-events: none;
	}
	100% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		pointer-events: auto;
	}
}
